.badge-light {
    cursor: pointer;
    width: 100%;
}

.smallBtn {
    width: 49%;
    padding: 5px;
}

h2,
.jumbotron {
    text-align: center;
}

.backToHome {
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

.backToHome span {
    padding: 10px;
}

h2 {
    margin-bottom: 40px;
}
.inputlInfo{
    font-size: 0.8em;
    opacity: 80%;
    margin: 2px 0px 8px 0px;;
}
#errormsg{
    color: red;
    margin-top: 10px;
}